﻿  div.mytable {
            float: left;
            margin: 20px;
        }
        div.panel-body {
            padding: 0px;
        }
        div.table-broad {
            -moz-min-width: 650px;
            -ms-min-width: 650px;
            -o-min-width: 650px;
            -webkit-min-width: 650px;
            min-width: 650px;
        }
        /*select {
            -moz-min-width: 100px !important;
            -ms-min-width:100px !important;
            -o-min-width:100px !important;
            -webkit-min-width:100px !important;
            min-width: 100px !important;
        }*/

  div.table-narrow {
            -moz-min-width: 400px;
            -ms-min-width: 400px;
            -o-min-width: 400px;
            -webkit-min-width: 400px;
            min-width: 400px;
        }

  .myinput {
            border: solid 2px transparent;
            background: transparent
        }
        .animateSaved {
            background-color: transparent;
            -webkit-animation-name: example; 
            -webkit-animation-duration: .5s;
            -moz-animation-name: example;
            -ms-animation-name: example;
            -o-animation-name: example;
            animation-name: example;
            -moz-animation-duration: .5s;
            -ms-animation-duration: .5s;
            -o-animation-duration: .5s;
            animation-duration: .5s;
        }

  @-webkit-keyframes example {
            0% {
                background-color: lightgreen;
            }

            100% {
                background-color: transparent;
            }
        }
        @keyframes example {
            0% {
                background-color: lightgreen;
            }

            100% {
                background-color: transparent;
            }
        }